@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

body {
  font-family: 'Outfit', sans-serif;
}

/* Custom Scrollbar for sleek cyber look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38bdf8; /* sky-400 accent on hover */
}
